<div class="side-bar">
    <div><i class="uil uil-ellipsis-h"></i></div>
    <ul class="side-bar__list list-one">
        <li [routerLink]="item.router" [queryParams]="item.query" *ngFor="let item of mainMenu.defaultOptions">
            <div class="list-wrapper-item">
                <i class="uil {{item.icon}}"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
        <li>
            <div class="list-wrapper-item">
                <i class="uil uil-signout"></i>
                <span (click)="logOut()" class="side-bar__list list-label">Cerrar Sesion</span>
            </div>

        </li>
    </ul>
    <div class="side-bar__separator"></div>
</div>